In [1]:
# Import libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt 
from sklearn.model_selection import train_test_split

# Import and suppress warnings
import warnings
warnings.filterwarnings('ignore')

# Set seeds for reproducibility
seed = 123

In [2]:
# Read data
df = pd.read_csv(r'\Users\Eric\Documents\python_beginner_scripts\dc_competitions\data\employee_churn_data.csv')

# Set test set aside
train, test = train_test_split(df, test_size=0.2, random_state=seed, stratify=df["left"])

In [22]:
# Enconding target variable
train["left"] = train["left"].map({'yes': 1, 'no': 0})
test["left"] = test["left"].map({'yes': 1, 'no': 0})

train["tenure"] = train["tenure"].astype("int8")
test["tenure"] = test["tenure"].astype("int8")

In [23]:
# Encode correcty labels for each variable
def reduce_mem_usage(df, verbose=True): # <-- code from
    numerics = ['int8','int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2

    for col in df.columns:
        col_type = df[col].dtypes

        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()

            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                    df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)

    end_mem = df.memory_usage().sum() / 1024**2

    if verbose:
        print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
 
    return df

train = reduce_mem_usage(train)
test = reduce_mem_usage(test)

Mem. usage decreased to  0.35 Mb (0.0% reduction)
Mem. usage decreased to  0.09 Mb (0.0% reduction)

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7632 entries, 4408 to 8603
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department     7632 non-null   object
 1   promoted       7632 non-null   int8
 2   review         7632 non-null   float32
 3   projects       7632 non-null   int8
 4   salary         7632 non-null   object
 5   tenure         7632 non-null   int8
 6   satisfaction   7632 non-null   float32
 7   bonus          7632 non-null   int8
 8   avg_hrs_month  7632 non-null   float32
 9   left           0 non-null      float64
dtypes: float32(3), float64(1), int8(4), object(2)
memory usage: 357.8+ KB

In [25]:
# Separate labels and target for the full training set
X, y =  train.drop(columns="left", axis = 1), train["left"]

# Separate labels and target for test set
X_test, y_test =  test.drop(columns="left", axis = 1), test["left"]

In [10]:
# Create train subset and validation set
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.25, stratify=y, random_state=seed)

In [14]:
# Check splits (full training/Validation/Test)
len(X), len(X_val), len(X_test)

(7632, 1908, 1908)

In [7]:
# Get variable names
bi_vars = [col for col in X.columns if X[col].nunique() == 2]
num_vars = [col for col in X.columns if (X[col].dtype in ["int8", "float32"]) & (col not in bi_vars)]
cat_vars = [col for col in X.columns if (col not in num_vars) & (col not in bi_vars)]

In [18]:
num_vars

['review', 'projects', 'tenure', 'satisfaction', 'avg_hrs_month']

In [19]:
X.tenure.describe()

count    7632.000000
mean        6.549528
std         1.418616
min         2.000000
25%         5.000000
50%         7.000000
75%         8.000000
max        11.000000
Name: tenure, dtype: float64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9540 entries, 0 to 9539
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department     9540 non-null   object
 1   promoted       9540 non-null   int64
 2   review         9540 non-null   float64
 3   projects       9540 non-null   int64
 4   salary         9540 non-null   object
 5   tenure         9540 non-null   float64
 6   satisfaction   9540 non-null   float64
 7   bonus          9540 non-null   int64
 8   avg_hrs_month  9540 non-null   float64
 9   left           9540 non-null   object
dtypes: float64(4), int64(3), object(3)
memory usage: 745.4+ KB

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7632 entries, 4408 to 8603
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department     7632 non-null   object
 1   promoted       7632 non-null   int8
 2   review         7632 non-null   float32
 3   projects       7632 non-null   int8
 4   salary         7632 non-null   object
 5   tenure         7632 non-null   float32
 6   satisfaction   7632 non-null   float32
 7   bonus          7632 non-null   int8
 8   avg_hrs_month  7632 non-null   float32
dtypes: float32(4), int8(3), object(2)
memory usage: 320.5+ KB

In [11]:
X_train.head()

,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month
3262,logistics,0,0.671787,4,medium,5.0,0.605868,0,180.646698
1922,engineering,0,0.531631,4,high,5.0,0.803060,0,180.486176
5920,sales,0,0.597231,4,low,8.0,0.411003,0,189.771439
5727,sales,0,0.757523,4,medium,7.0,0.159473,0,186.211975
9372,operations,0,0.717641,4,medium,8.0,0.603279,0,188.298721

In [15]:
X.head()

,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month
4408,sales,0,0.853635,4,medium,5.0,0.259219,0,180.178543
5368,retail,0,0.661567,4,medium,6.0,0.311056,0,183.607849
4920,retail,0,0.591863,3,low,7.0,0.277298,0,185.288177
8402,engineering,0,0.659410,3,medium,7.0,0.698308,0,187.385620
5617,retail,0,0.653639,2,medium,6.0,0.219496,0,183.541580